*~
.aliasrc.local
.bash*
.bin
.cache
.config
.emacs.d
.gnupg
.hwid
.java
.lesshst
.local
.password-store
.pki
.python_history
.sqlite_history
.ssh
.viminfo
.wget-hst
.Xauthority
.xinitrc.local
.zcompdump
.zhistory
Downloads
Jts
mutt-attach
screenshots
