*~
\#*\#
.*_history
.*.local
.anthy
.bash*
.bin
.bitcoin
.cache
.config
.dbus
.electrum
.emacs.d
.fdm.conf
.gnupg
.gtk-bookmarks
.hwid
.java
.lesshst
.local
.log
.mozilla
.netrc*
.notmuch-config
.password-store
.pki
.ssh
.var
.vim
.viminfo
.wget-hsts
.Xauthority
.xinitrc.env
.xinitrc.wm
.zcompdump
Downloads
Jts
Maildir
data
git
go
