*~
.aliasrc.local
.bash*
.bin/
.bitcoin/
.cache/
.config/
.dbus
.electrum
.emacs.d/
.fdm.conf
.gnupg/
.gtk-bookmarks
.java/
.lesshst
.local/
.muttrc-default
.netrc.gpg
.password-store
.pki/
.python_history
.ratpoison_history
.sqlite_history
.ssh/
.var/
.vim/
.viminfo
.vimrc.local
.wget-hsts
.Xauthority
.xinitrc.env
.xinitrc.local
.Xresources.local
.zcompdump
.zshenv.local
.zhistory
.zlogin
Downloads/
go/
mail/
mail-attach/
screenshots/
